
.main-container {
  max-width: 1170px;
}
.header {
  padding-top: 40px;
  padding-bottom: 40px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  .logo-block {
    width: 140px;
    height: 52px;
  }
  .menu-block {
    &_list  {
      &:not(:last-child) {
        margin-right: 48px;
      }
      a {
        font-family: 'OpenSans-Bod',sans-serif;
        font-size: 14px;
        color: $white;
        @include transition-mixin($style: color);
        position: relative;
        &:after {
          position: absolute;
          content: "";
          display: block;
          width: 0;
          left: 0;
          bottom: -22px;
          height: 2px;
          background-color: $base-color;
          @include transition-mixin($style: width);
        }
        &.active,&:hover {
          color: $base-color;
          &:after {
            width: 100%;
          }
        }
      }
    }
    &.active {
      display: block!important;
      position: fixed;
      background-color: $white;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      padding: 50px;
      overflow: auto;
      ul li {
        display: block!important;
        margin-right: 0;
        &:not(:last-child) {
          margin-bottom: 20px;
        }
        a {
          display: block;
          color: $text-color;
          text-align: center;
          font-size: 14px;
          &.active {
            color: $base-color;
          }
          &:after {
            display: none;
          }
        }
      }
    }
  }
  .menu-mobile {
    position: absolute;
    top: 42px;
    background-color: $base-color;
    height: 40px;
    width: 44px;
    cursor: pointer;
    z-index: 9999;
    display: none;
    right: 15px;
    span {
      position: absolute;
      height: 3px;
      width: 25px;
      background-color: #fff;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      @include transition-mixin($style: transform);
      &:before,&:after  {
        content: '';
        position: absolute;
        background-color: #fff;
        height: 3px;
        width: 25px;
        transition: transform 0.3s;
      }
      &:after {
        top: 8px;
      }
      &:before {
        top: -8px;
      }
    }
    &.active {
      color: $base-color;
      span {
        background-color: transparent;
        &:before {
          @include transform-rotate(45deg);
          top: 0;
        }
        &:after {
          @include transform-rotate(-45deg);
          top: 0;
        }
      }
    }
  }
}
.main {
  .top-slider {
    &_inner {
      padding-top: 7%;
      padding-bottom: 7%;
      background-size: cover;
      background-position: center;
      position: relative;
      z-index: -3;
      &:after {
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0,0,0,.7);
        z-index: -2;
      }
      &-text {
        &,button,a,p {
          color: $white;
        }
        h5 {
          font-family:'SoursSansPro-Regular',sans-serif;
          font-size: 24px;
          margin-bottom: 45px;
        }
        h2 {
          font-family:'OpenSans-Bod',sans-serif;
          font-size: 72px;
          margin-bottom: 46px;
        }
        p {
          max-width: 584px;
          margin: auto;
          margin-bottom: 60px;
          font-family:'OpenSansPro-Regular',sans-serif;
          font-size: 14px;
          line-height: 24px;
        }
        .get-started,.learn-more {
          font-family:'OpenSans-Bod',sans-serif;
          font-size: 14px;
          border: 1px solid $white;
          width: 230px;
          min-height: 56px;
          position: relative;
          @include transition-mixin($style: border-color,$duration: .8s);
          &:after {
            position: absolute;
            content: "";
            display: block;
            width: 0;
            left: 0;
            top: 0;
            bottom: 0;
            background-color: $base-color;
            @include transition-mixin($style: width);
            z-index: -1;
          }
          &:hover {
            border-color: $base-color;
            &:after {
              width: 100%;
            }
          }
        }
        .get-started {
          margin-right: 32px;
        }
        span.circle {
          &:after,&:before {
            background-color: $white;
          }
        }
      }
    }
    &_block {
      .prev,.next {
        width: 46px;
        height: 46px;
        position: absolute;
        top: 50%;
        @include transform-translateY(-50%);
        z-index: 1;
        background-color: #818181;
        @include border-radius(2px);
        @include transition-mixin($style: background-color);
        i {
          font-size: 30px;
          color: #303030;
          @include transition-mixin($style: color);
        }
        &:hover {
          background-color: $base-color;
          i {
            color: $white;
          }
        }
        &.index {
          z-index: 0;
        }
      }
      .prev {
        left: 48px;
      }
      .next {
        right: 48px;
      }
    }
  }
  .triangle {
    clip-path: polygon(50% 100%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
    height: 124px;
    background-color: $white;
    position: absolute;
    width: 100%;
    bottom: -2px;
  }
  .scroll-down_button {
    width: 74px!important;
    height: 74px;
    padding: 5px;
    @include border-radius(50%);
    background-color: rgba(255,255,255,.25);
    position: absolute;
    bottom: -37px;
    left: 50%;
    @include transform-translateX(-50%);
    span {
      @include border-radius(50%);
      display: block;
      width: 100%;
      height: 100%;
      background: url("../images/anchor.png") center center no-repeat #f4f5f9;

    }
  }

  .services-block {
    &_inner {
      .icon-block {
        width: 76px;
        height: 74px;
        border: 1px solid rgba(129,129,129,.25);
        margin: 0 auto 30px auto;
        @include transition-mixin($style: border-color);
        &.glasses-icon div{
          background-image: url("../images/glasses.png");
        }
        &.heart-icon div{
          background-image: url("../images/heart.png");
        }
        &.ideas-icon div{
          background-image: url("../images/ideas.png");
        }
        &.support-icon div{
          background-image: url("../images/support.png");
        }
        div {
          background-position: center;
          background-repeat: no-repeat;
        }
      }
      .service-title {
        margin-bottom: 40px;
        position: relative;
        font-family:'OpenSans-SemiBold',sans-serif;
        font-size: 18px;
        &:after {
          position: absolute;
          display: block;
          content: "";
          width: 40px;
          bottom: -20px;
          left: 50%;
          @include transform-translateX(-50%);
          height: 2px;
          background: #6a6a6a;
          background: -moz-linear-gradient(top, #6a6a6a 0%, #cdcdcd 100%);
          background: -webkit-linear-gradient(top, #6a6a6a 0%,#cdcdcd 100%);
          background: linear-gradient(to bottom, #6a6a6a 0%,#cdcdcd 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a6a6a', endColorstr='#cdcdcd',GradientType=0 );
        }
      }
      .service-text {
        font-family:'SoursSansPro-Light',sans-serif;
        font-size: 12px;
        letter-spacing: .75px;
        line-height: 20px;
      }
      .service-link {
        &:hover {
          .service-title {
            color: $base-color;
            @include transition-mixin($style: color);
          }
          .icon-block {
            @include transform-rotate(45deg);
            border-color: $base-color;
            div {
              @include transform-rotate(-45deg);
            }
          }
        }
      }
    }
    padding-top: 110px;
    padding-bottom: 110px;
  }
  .history_bock {
    padding: 140px 0;
    &-fluid {
      border-top: 1px solid #e1e2e6;
    }
    h3 {
      font-family:'SoursSansPro-Bold',sans-serif;
      &.title {
        margin-bottom: 40px;
        border-left: 6px solid $base-color;
        padding-left: 30px;
      }
    }
     p {
       font-family:'OpenSansPro-Regular',sans-serif;
       font-size: 14px;
       margin-bottom: 44px;
     }
    .works-link {
      font-family:'OpenSans-Bod',sans-serif;
      font-size: 14px;
      color: $white;
      background-color: $base-color;
      width: 224px;
      padding: 18px 10px;
      letter-spacing: .1px;
      -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
      -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
      box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
    }
  }
  .services-bottom_block {
    margin-bottom: 130px;
  }
  .services-bottom-block {
    padding: 130px 0 60px 80px;
    background-color: #202020;
    .pr {
      padding-right: 80px;
    }
    &_info {
      .slick-list.draggable {
        max-width: 656px;
        text-align: right;
        margin-left: auto;
      }

      .services-bottom-block_title  {
        font-family:'SoursSansPro-Bold',sans-serif;
        color: #f4f5f9;
        text-align: right;
        border-right: 8px solid $base-color;
        margin-bottom: 60px;
        padding-right: 26px;
      }
      .services-bottom-slider {
        &_inner {
          position: relative;
          padding-right: 80px;
          &:not(:last-child) {
            margin-bottom: 56px;
          }
          .title {
            font-family:'OpenSans-SemiBold',sans-serif;
            font-size: 18px;
            margin-bottom: 12px;
            color: $base-color;
          }
          p {
            font-size: 14px;
          }
        }
      }
      .slick-dots {
        position: absolute;
        left: 0;
        top: 50%;
        @include transform-translateY(-50%);
        li {
          display: block;
          width: 1px;
          height: 34px;
          background-color: #818181;
          &:not(:last-child){
            margin-bottom: 10px;
          }
          &.slick-active {
              width: 2px!important;
              background-color: $base-color;
          }
          button{
            width: 100%;
            height: 100%;
          }
        }

      }
    }
    &_image {
      background-image: url("../images/temp/services.png");
      background-size: cover;
      background-position: center;
      position: relative;
      .service_icon {
        width: 74px;
        height: 74px;
        left: -37px;
      }
        .service-design {
          top: 35%;
          span{
            background: url("../images/design.png") center center no-repeat #f4f5f9;
          }
        }
        .service-print {
          top: 55%;
          span{
            background: url("../images/print.png") center center no-repeat #f4f5f9;
          }
        }
        .service-photography {
          top: 75%;
          span{
            background: url("../images/photography.png") center center no-repeat #f4f5f9;
          }
        }
    }
  }
  .works-block,.study-block {
    span.circle {
      &:after,&:before {
        background-color: #d1cfcf;
      }
    }
  }
  .portfolio-filter {
    .portfolio-menu {
      text-align: center;
      margin-bottom: 50px;
      ul {
        padding:0;
        li {
          display: inline-block;
          margin: 0;
          list-style: none;
          cursor: pointer;
          @include transition-mixin($style: all);
          color: $text-color;
          font-size: 14px;
          font-family:'OpenSansPro-Regular',sans-serif;
          padding: 0 24px;
          position: relative;
          @include transition-mixin($style: color);
          &:not(:last-child):after {
            position: absolute;
            content: "/";
            top: 0;
            right: 0;
          }
          &.active {
            color: $base-color;
            &:after {
              color: $text-color;
            }
          }
          &:hover {
            color: $base-color;
          }
        }
      }
    }
    .portfolio-item .item {
      padding-top: 12%;
      padding-bottom: 12%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      &:hover {
        .portfolio-item_info{
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
        }
      }
    }
    .portfolio-item {
      &_info {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(231,76,60,.8);
        padding: 46px;
        display: none;
        &,p {
          color: $white;
        }
        h4 {
          font-family:'SoursSansPro-Bold',sans-serif;
          position: relative;
          &:before {
            position: absolute;
            content: "";
            display: block;
            height: 4px;
            width: 44px;
            background-color: $white;
            left: 0;
            top: -30px;
          }
        }
        p {
          font-family:'OpenSansPro-Regular',sans-serif;
        }
      }
    }
  }
  .study-block {
    padding: 130px 0;
    background-color: #f4f5f9;
    .slick-arrow {
      display: none!important;
    }
    &_inner {
      position: relative;
      padding: 50px 0;
    }
    &_slider {
      width: 55%;
      padding: 68px 66px 110px 66px;
      background-color: $white;
      position: relative;
      z-index: 2;
      -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
      -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
      box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
      .icon_block {
        width: 90px;
        height: 90px;
        margin: 0 auto 50px auto;
        background-color: $base-color;
        @include transform-rotate(45deg);
        .icon {
          width: 100%;
          height: 100%;
          background: url("../images/idea-white.png") center no-repeat;
          @include transform-rotate(-45deg);
        }
      }
      h4 {
        font-family:'OpenSans-SemiBold',sans-serif;
        font-size: 18px;
        color: $title-color;
        margin-bottom: 50px;
        position: relative;
        letter-spacing: .75px;
        &:after {
          position: absolute;
          content: "";
          width: 42px;
          height: 2px;
          left: 50%;
          @include transform-translateX(-50%);
          bottom: -25px;
          background: #6a6a6a;
          background: -moz-linear-gradient(top, #6a6a6a 0%, #cdcdcd 100%);
          background: -webkit-linear-gradient(top, #6a6a6a 0%,#cdcdcd 100%);
          background: linear-gradient(to bottom, #6a6a6a 0%,#cdcdcd 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a6a6a', endColorstr='#cdcdcd',GradientType=0 );
        }
      }
      p {
        font-size: 14px;
      }
      &-text {
        margin-bottom: 50px;
      }
      .more-button {
        font-family:'OpenSans-SemiBold',sans-serif;
        font-size: 12px;
        min-width: 146px;
        padding: 14px;
        color: $white;
        background-color: $base-color;
        -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
      }
      .slick-list.draggable {
        padding-top: 30px;
      }
      .slick-dots {
        bottom: 50px;
        left: 0;
        li {
          width: 12px;
          height: 12px;
          background-color: #f4f5f9;
          @include border-radius(50%);
          @include transition-mixin($style: background-color);
          &.slick-active,&:hover {
            background-color: $base-color;
          }
        }
      }
      &.slick-dotted.slick-slider {
        margin-bottom: 0!important;
      }
    }
    &_image {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 50%;
      z-index: 1;
      background-image: url("../images/temp/rectangle.png");
      background-size: cover;
      background-position: center;
    }
  }
  .check-out-block {
    background: url("../images/countBg.png") center/cover  no-repeat;
    padding: 150px 0;
    position: relative;
    &:after {
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba(0,0,0,.5);
    }
    &_inner {
      width: 19.5%;
      vertical-align: top;
      padding: 0 15px;
      position: relative;
      z-index: 1;
    }
    .check-out{

      &_icon {
        width: 116px;
        height: 116px;
        @include border-radius(50%);
        border: 1px solid $white;
        margin: 0 auto 45px auto;
        background-position: center;
        background-repeat: no-repeat;
        &.user {
          background-image: url("../images/forma-1.png");
        }
        &.last-posts {
          background-image: url("../images/forma-2.png");
        }
        &.total-post {
          background-image: url("../images/forma-3.png");
        }

        &.campaigns {
          background-image: url("../images/forma-4.png");
        }
        &.amazing {
          background-image: url("../images/forma-5.png");
        }
      }
      &_count {
        font-family:'SoursSansPro-Bold',sans-serif;
        font-size: 30px;
        color: white;
      }
      &_name {
        font-family:'SoursSansPro-Regular',sans-serif;
        font-size: 18px;
        color: white;
      }
    }
  }
  .pricing-block {
    padding: 140px 0;
    &_inner {
      background-color: #f4f5f9;
      .service_icon {
        width: 182px;
        height: 182px;
        padding: 16px;
        bottom: -91px;
        left: 50%;
        @include transform-translateX(-50%);
        >span {
          background-color: white;
        }
        .price {
          font-family:'SoursSansPro-Bold',sans-serif;
          font-size: 40px;
          margin-bottom: 0;
          @include transition-mixin($style: color);
          span {
            display: inline-block;
            width: inherit;
            height: inherit;

          }
        }
      }
      &-top {
        padding: 44px 20px 130px;
        color: $white;
        background-color: $text-color;
        @include transition-mixin($style: background-color);
        h5 {
          font-family:'OpenSans-SemiBold',sans-serif;
          font-size: 24px;
        }
      }
      &-bottom {
        padding: 120px 20px 140px 20px;
        ul {
          li {
            color: $text-color;
            font-family:'OpenSans-SemiBold',sans-serif;
            font-size: 14px;
            &:not(:last-child) {
              margin-bottom: 16px;
            }
          }
        }
      }
      .choose-button{
        background-color: $text-color;
        font-family:'OpenSans-SemiBold',sans-serif;
        font-size: 12px;
        color: $white;
        @include border-radius(2px);
        position: absolute;
        left: 50%;
        @include transform-translateX(-50%);
        bottom: 50px;
        -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
        @include transition-mixin($style: background-color);
      }
      &:hover {
        .pricing-block_inner-top{
            background-color: $base-color;
          .service_icon .price{
            color: $base-color;
          }
        }
        .choose-button {
          background-color: $base-color;
        }
      }
    }
  }
  .team-block {
    padding-top: 140px;
    background: url("../images/team-bg.png") center/cover no-repeat;
    &_title {
      h3,p {
        color: $white;
      }

    }
    &_image {
      background: url("../images/curve.png") center/100% 100% no-repeat;
      padding-bottom: 140px;
      @include transition-mixin($style: transform,$duration: 1s);
    }
    .teammate-block{
      display: inline-block;
      width: 19.5%;

      &:hover {
        .teammate-block_info {
          visibility: visible;
        }
        .teammate-block_image {
          -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
          transform: scale(1.2);
        }
        .team-block_image:after{
          z-index: 1;
        }
      }
      &_image {
        width: 64px;
        height: 64px;
        @include border-radius(50%);
        border: 5px solid $base-color;
        position: relative;
        overflow: hidden;
        background-size: cover;
        &:after {
          position: absolute;
          content: "";
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          background-color: rgba(231,76,60,.5);
          z-index: -1;
        }
      }
      &.teammate-1 {
        @include transform-translateY(88px);
        .teammate-block_image{
          background-image: url("../images/temp/teammate-1.png");
        }
      }
      &.teammate-2 {
        @include transform-translateY(60px);
        .teammate-block_image{
          background-image: url("../images/temp/teammate-2.png");

        }
      }
      &.teammate-3 {
        @include transform-translateY(60px);
        .teammate-block_image{
          background-image: url("../images/temp/teammate-3.png");
        }
      }
      &.teammate-4 {
        @include transform-translateY(88px);
        .teammate-block_image{
          background-image: url("../images/temp/teammate-4.png");
        }
      }
      &.teammate-5 {
        @include transform-translateY(80px);
        .teammate-block_image{
          background-image: url("../images/temp/teammate-5.png");
        }
      }
      &_info {
        visibility: hidden;
        .teammate-title {
          font-family:'OpenSans-Bod',sans-serif;
          font-size: 24px;
          color: $base-color;
        }
        .teammate-profession {
          font-family:'SoursSansPro-Regular',sans-serif;
          font-size: 14px;
          color: $white;
        }
        .line {
          height: 50px;
          width: 1px;
          background-color: rgba(129,129,129,.75);
          margin: 0 auto 30px auto;
        }
      }
    }
  }
  .integration-block {
    background-color: #f4f5f9;
    padding-bottom: 110px;
    border-bottom: 1px solid #e1e2e6;
    .integration-logo {
      &_link {
        width: 18%;
        height: 100px;
        display: inline-block;
        background-color: $white;
        margin-bottom: 30px;
        -webkit-box-shadow: 0px 1px 3px 0px rgba(31,31,31,0.09);
        -moz-box-shadow: 0px 1px 3px 0px rgba(31,31,31,0.09);
        box-shadow: 0px 1px 3px 0px rgba(31,31,31,0.09);
        a {
          display: block;
          width: 100%;
          height: 100%;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          //&:hover {
          //  background-color: $base-color;
          //}
        }
        &:not(:nth-child(5n)) {
          margin-right: 2.1%;
      }
      }

    }
  }
  .blog-block {
    &_item {
      &-image {
        background-position: center;
        background-size: cover;
      }
      &-text {
        padding: 60px 48px;
        background-color: $base-color;
        position: relative;
        &,h6,p,a {
          color: $white;
        }
        .art {
          font-family:'OpenSansPro-Regular',sans-serif;
        }
        h6 {
          font-family:'SoursSansPro-Bold',sans-serif;
          font-size: 24px;
          position: relative;
          margin-bottom: 50px;
          &:after {
            position: absolute;
            content: "";
            display: block;
            height: 6px;
            width: 50px;
            background-color: $white;
            bottom: -18px;
          }
        }
        .text {
          font-size: 16px;
          line-height: 30px;
          margin-bottom: 46px;
        }
        .read-more {
          font-family:'OpenSans-Bod',sans-serif;
          font-size: 18px;
          font-style: italic;
          .fa-angle-double-right {
            margin-left: 6px;
            @include transition-mixin($style: transform);
          }
          &:hover {
            .fa-angle-double-right {
              @include transform-translateX(10px);
            }
          }
        }
        &:after {
          position: absolute;
          content: "";
          display: inline-block;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 34px 30px 34px 0;
          border-color: transparent $base-color transparent transparent;
          top: 50%;
          @include transform-translateY(-50%);
        }
      }
    }
    >.row:nth-child(odd) {
      .blog-block_item-image {
        order: 2;
      }
      .blog-block_item-text:after {
        right: -30px;
        @include transform-rotate(180deg);
      }
    }
    >.row:nth-child(even) {
      .blog-block_item-text:after {
        left: -30px;
      }
    }
  }
  .contact-block {
    background-color: #f4f5f9;
    .contact-block_left,.contact-block_right {
      padding: 86px;
      background-color: $white;
      -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
      -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
      box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
    }
    .contact-block_left {
      >div:not(:last-child) {
        margin-bottom: 60px;
      }
      h6 {
        font-family:'OpenSans-SemiBold',sans-serif;
        font-size: 24px;
        color: $base-color;
      }
      p {
        margin-bottom: 0;
      }
      p,a {
        font-family:'OpenSansPro-Regular',sans-serif;
        font-size: 18px;
        color: $text-color;
      }
      a {
        @include transition-mixin($style: color);
        &:hover {
          color: $base-color;
        }
      }
    }
    .contact-block_right {
      .contact-form {
        .form-group{
          &.material-style{
            position: relative;
            &:not(:last-child) {
              margin-bottom: 24px;
            }
            .form-control{
              border-radius: 0px;
              border-top: none;
              border-left: none;
              border-right: none;
              padding-left: 0px;
              padding-right: 0px;
              &:placeholder-shown{
                + label{
                  top: 5px;
                  left: 0px;
                  font-weight: 500;
                }
              }

              &:focus{
                box-shadow:inset 0px -1px 0px $base-color;
                border-color: $base-color;
                + label{
                  top:-18px;
                  font-size: 11px;
                  color: $base-color;
                  font-weight: 500;
                }
              }

            }
            label{

              position: absolute;
              top:-18px;
              font-weight: 500;
              font-size: 11px;
              transition: all 0.2s;
              -moz-transition: all 0.2s;
              -webkit-transition: all 0.2s;
              -o-transition: all 0.2s;
            }
          }

          input,textarea,label {
            font-family:'OpenSans-SemiBold';
            font-size: 14px;
            color: $text-color;
          }
          textarea {
            resize: none;
            height: 100px;
          }
        }
        button {
          padding: 10px 30px;
        }
      }
    }
  }
  .cover {
    background-color: rgba(0,0,0,.6);
  }
  .free-trial-block {
    position: relative;
    color: $white;
    background: url("../images/temp/way.png") center/cover no-repeat;
    h4,p {
      font-family:'OpenSansPro-Regular',sans-serif;
    }
    h4 {

      font-size: 36px;
    }
    p {
      font-size: 18px;
      color: $white!important;
    }
    .base-button {
      margin-top: 50px;
      padding: 10px 30px;
    }
  }
}
span.circle {
  &:after,&:before {
    background-color: #d1cfcf;
  }
}
.section-title {
  font-family:'SoursSansPro-Bold',sans-serif;
  font-size: 36px;
  color: $title-color;
  &.dark {
    color: $text-color!important;
  }
}
.section-text  {
  font-family:'OpenSansPro-Regular',sans-serif;
  font-size: 14px;
  &.works-block_text {
    margin-bottom: 24px;
  }
  &.dark {
    color: $text-color!important;
  }
}
span.circle {
  display: block;
  width: 7px;
  height: 7px;
  @include border-radius(50%);
  background-color: $base-color;
  margin: 0 auto 46px auto;
  position: relative;
  &:after,&:before {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 82px;
    top: 50%;
    @include transform-translateY(-50%);
  }
  &:after {
    right: -97px;
  }
  &:before {
    left: -97px;
  }
}
.service_icon {

  padding: 5px;
  @include border-radius(50%);
  background-color: rgba(255,255,255,.25);
  position: absolute;
  span {
    @include border-radius(50%);
    display: block;
    width: 100%;
    height: 100%;
  }
}
.base-button {
  background-color: $base-color;
  font-family:'OpenSans-SemiBold',sans-serif;
  font-size: 14px;
  color: $white;
  @include border-radius(2px);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  @include transition-mixin($style: background-color);
  &:hover {
    color: $white!important;
    background-color: lighten($base-color,7%)!important;
  }
}
.footer {
  padding: 34px 0;
  background-color: #202020;
  .social-block {
    ul {
      li {
        a {
          color: $text-color;
          @include transition-mixin($style: color);
          &:hover {
            color: $base-color;
          }
        }
        &:not(:last-child) {
          margin-right: 20px;

        }
      }
    }
  }
  .copyright-block {
    font-family:'OpenSans-SemiBold',sans-serif;
    margin-bottom: 0;
  }
}
.scroll-top {
  width: 58px;
  height: 58px;
  @include border-radius(50%);
  background-color: $base-color;
  display: none;
  position: fixed;
  bottom: 64px;
  right: 46px;
  i {
    color: $white;
    font-size: 24px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
}

@media only screen and (max-width: 1560px) {
  .main {
    .team-block .teammate-block{
      &.teammate-1 {
        @include transform-translateY(100px);
      }
      &.teammate-2 {
        @include transform-translateY(65px);
      }
      &.teammate-5 {
        @include transform-translateY(65px);
      }
    }
  }
}
@media only screen and (max-width: 1460px) {
  .main {
    .team-block .teammate-block{
      &.teammate-1 {
        @include transform-translateY(110px);
      }
      &.teammate-5 {
        @include transform-translateY(47px);
      }
    }
    .services-bottom-block_info .services-bottom-slider_inner {
      max-width: 90%;
      float: right;
    }
  }
}
@media only screen and (max-width: 1360px) {
  .main {
    .team-block .teammate-block{
      &.teammate-1 {
        @include transform-translateY(120px);
      }
      &.teammate-5 {
        @include transform-translateY(36px);
      }
    }
  }
}
@media only screen and (max-width: 1260px) {
  .main {
    .team-block .teammate-block{
      &.teammate-1 {
        @include transform-translateY(135px);
      }
      &.teammate-5 {
        @include transform-translateY(20px);
      }
    }
  }
}
@media only screen and (max-width: 1100px) {
  .main {
    .top-slider_inner-text {
      h2 {
        font-size: 60px;
      }
    }
    .blog-block_item-text {
      padding: 40px 20px;
    }
  }
}
@media screen and (max-width: 1024px) {
  .portfolio-item .item {
    width: 50%;
    padding:0 15px;
  }
}
@media only screen and (max-width: 992px) {
  .header {
    .logo-block {
      width: 130px;
      height: 50px;
    }
    .menu-block_list{
      a {
        font-size: 12px;
      }
      &:not(:last-child) {
        margin-right: 32px;
      }
    }
  }
  .main {
    .top-slider_inner {
      padding-top: 11%;
      padding-bottom: 11%;
    }
    .top-slider_inner-text {
      h5 {
        font-size: 22px;
      }
      h2 {
        font-size: 46px;
        margin-bottom: 36px;
      }
      span.circle {
        margin-bottom: 36px;
      }
    }
    .blog-block {
      .row .blog-block_item  {
        &:first-child .blog-block_item-text{
          order: 2;
          &:after {
            left: -30px;
            right: auto;
          }
        }
        &:last-child {
          .blog-block_item-text {
            &:after {
              right: -30px;
              left: auto;
            }
          }
          & .blog-block_item-image{
            order: 2;
          }
        }

      }
      >.row:nth-child(even) {
        .blog-block_item:last-child .blog-block_item-text {
          &:after {
            @include transform-rotate(180deg);
          }
        }
      }
      >.row:nth-child(odd) {
        .blog-block_item:first-child .blog-block_item-text {
          &:after {
            @include transform-rotate(0deg);
          }
        }
      }
    }
   .contact-block {
     .contact-block_left,.contact-block_right {
       padding: 50px 40px;
     }
   }
    .services-block {
        &_inner  {
          margin-bottom: 30px;
        }
    }
    .history_bock,.services-block,.study-block,.pricing-block,.integration-block {
      padding-top: 80px;
      padding-bottom: 80px;
    }
    .team-block {
      padding-top: 80px;
    }
    .services-bottom_block {
      margin-bottom: 80px;
    }
    .check-out-block {
      padding-top: 100px;
      padding-bottom: 100px;
    }

    .team-block .teammate-block{
      &.teammate-1 {
        @include transform-translateY(140px);
      }
      &.teammate-5 {
        @include transform-translateY(0);
      }
    }
    .top-slider_block {
      .top-slider_inner-text{
        max-width: 70%;
        margin: auto;
        .get-started,.learn-more {
          width: 180px;
          min-height: 46px;
        }
      }
      .prev,.next {
        width: 40px;
        height: 40px;
        padding: 0;
      }
      .prev {
        left: 30px;
      }
      .next {
        right: 30px;
      }
    }
    .triangle {
      height: 90px;
    }
  }
  .p-tb {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media only screen and (max-width: 942px) {
  .main {
    .integration-block {
      .integration-logo_link {
        width: 17%;
        &:not(:nth-child(5n)) {
          margin-right: 3%;
        }
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .header {
    .menu-mobile {
      display: block;
    }
    .menu-block {
      display: none!important;
    }
  }
  .main {
    .history_bock {
      &-image {
        padding-left: 10%;
        padding-right: 10%;
        text-align: center;
        margin-bottom: 50px;
      }
      &-info {
        text-align: center;
        .title {
          display: inline-block;
          border-left: none!important;
          border-bottom: 6px solid #e74c3c;
          padding-left: 0!important;
        }
      }
    }
    .services-bottom-block {
      padding: 80px 0 30px 50px;
      &_info .services-bottom-block_title {
        margin-bottom: 30px;
      }
      &_image {
        height: 300px;
        .service_icon {
          bottom: -37px;
          top: auto!important;
          left: auto;
          &.service-design {
              left: 10%;
          }
          &.service-photography{
            right: 10%;
          }
          &.service-print {
            left: 50%;
            @include transform-translateX(-50%);
          }
        }
      }
    }
    .services-bottom-block_info {
      .services-bottom-slider_inner,.services-bottom-block_title  {
        text-align: center;
      }
      .services-bottom-block_title {
        padding-right: 0;
        border-right: none;
      }
    }
    .pr {
      padding-right: 0!important;
    }
    .portfolio-filter {
      .portfolio-menu ul li {
        padding: 0 14px;
      }
    }
    .study-block_slider.slick-dotted.slick-slider {
      width: 100%;
    }
   .check-out-block {
     .container.main-container {
       text-align: center;
     }

     &_inner {
       width: 30%;
       margin-bottom: 20px;
     }
   }
    .contact-block {
      &_left {
        text-align: center;
      }
    }
  }
}
@media only screen and (min-width: 767px) {
  .main {
    .history_bock-image {
      padding-right: 40px;
    }
  }

}
@media only screen and (max-width: 700px) {
  .main {
    .top-slider_inner {
      padding-top: 11%;
      padding-bottom: 11%;
    }
    .top-slider_inner-text {
      h5 {
        font-size: 20px;
      }
      h2 {
        font-size: 36px;
        margin-bottom: 36px;
      }
      p {
        font-size: 12px;
      }
    }
  }
}
@media only screen and (max-width: 650px) {
  .main {
    .team-block {
      .teammate-block {
        display: block;
        -webkit-transform: translateY(0)!important;
        -moz-transform: translateY(0)!important;
        transform: translateY(0)!important;
        width: 100%;
        &:not(:last-child) {
          margin-bottom: 30px;
        }
        &_info {
          visibility: visible;
        }
      }
      &_image {
        background-image: none;
      }
    }

  }
}
@media screen and (max-width: 640px) {
  .portfolio-item .item {
    width: 100%;
  }
}
@media only screen and (max-width: 575px) {
  .main {
    .blog-block_item-image {
      order: 1;
      height: 300px;
    }
    .blog-block_item-text{
      order: 2;
      &:after {
        left: auto!important;
        right: auto!important;
        display: none!important;
      }
    }
    .study-block {
      .slick-arrow {
        display: none!important;
      }
      &_slider {
        padding: 36px 20px 90px 20px;
      }
    }
    .pricing-block_inner .choose-button {
      width: 90% !important;
      padding: 10px;
    }
    .pricing-block_inner .service_icon {
      width: 130px;
      height: 130px;
      bottom: -65px;
      .price {
        font-size: 30px;
      }
    }
   .top-slider_block {
     .top-slider_inner {
       padding-top: 17%;
       padding-bottom: 17%;
       &-text {
         .get-started,.learn-more {
           width: 100%;
         }
         .get-started {
           margin-bottom: 20px;
         }
         h2 {
           font-size: 24px;
         }
       }
     }
   }
    .triangle {
      height: 60px;
    }
    .integration-block {
      .integration-logo_link {
        width: 47%;
        &:not(:nth-child(5n)) {
          margin-right: 0;
        }
        &:not(:nth-child(2n)) {
          margin-right: 4%;
        }
      }
    }
    .portfolio-item .item {
      height: 250px;
    }
    .blog-block_item-text {
      text-align: center;
      h6:after {
        left: 50%;
        @include transform-translateX(-50%);
      }
    }
    .top-slider_inner {
      padding-top: 14%;
      padding-bottom: 14%;
    }
  .top-slider_block {
    .slick-arrow {
      width: 30px!important;
      height: 30px;
    }
    .prev {
      left: 10px;
    }
    .next {
      right: 10px;
    }
  }
    .p-tb,.history_bock,.study-block,.pricing-block,.integration-block {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .services-block {
      padding-bottom: 40px;
    }
    .team-block {
      padding-top: 50px;
    }
    .services-bottom_block {
      margin-bottom: 50px;
    }
    .check-out-block {
      padding-top: 70px;
      padding-bottom: 70px;
    }
    .study-block_inner {
      padding: 20px 0;
    }
    .check-out-block {
      &_inner {
        display: block!important;
        width: 100%;
        &:not(:last-child) {
          margin-bottom: 30px;
        }
        .check-out_icon {
          margin-bottom: 20px;
        }
      }
    }
   .services-bottom-block_info {
     .services-bottom-slider_inner {
       padding: 0 20px;
       float: inherit;
     }
   }
    .contact-block {
      .contact-block_left,.contact-block_right {
        padding: 30px 20px;
        h6 {
          font-size: 18px;
        }
      }
    }
  }

  button,a.btn {
    width: 100%!important;
  }
  h3,h4 {
    font-size: 28px!important;
  }
  .footer {
    text-align: center;
    .social-block {
      margin-bottom: 20px;
      ul {
        justify-content: center;
      }
    }
  }
}


@media only screen and (max-width: 450px) {
  .main {
    .top-slider_block .top-slider {
      &_inner {
        padding-top: 20%!important;
        &-text {
          max-width: 80%!important;
        }
      }
    }
  }
}