<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<meta name="description" content=""/>
	<meta name="keywords" content=""/>
	<meta name="format-detection" content="telephone=no">
	<meta name="format-detection" content="date=no">
	<meta name="format-detection" content="address=no">
	<meta name="format-detection" content="email=no">
	<title>Bino</title>
	<!--<link rel="icon" href="{{url('/images/favicon.png')}}" sizes="16x16"/>-->
	<!--<link rel="shortcut icon" href="{{url('/images/favicon.ico')}}" sizes="16x16"/>-->
	<!--<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{url('/images/apple-touch-57.png')}}">-->
	<!--<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{url('/images/apple-touch-72.png')}}">-->
	<!--<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{url('/images/apple-touch-114.png')}}">-->
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/slick.css">
	<link rel="stylesheet" href="css/slick-lightbox.css">
	<link rel="stylesheet" href="css/slick-theme.css">
	<link rel="stylesheet" type="text/css" href="sass/app.css">
</head>
<body>
	<header class="header">
		<div class="container main-container d-md-flex  justify-content-md-between align-items-md-center">
            <div class="logo-block">
                <a href="#" class="d-block logo-block_link"><img src="images/logo.png" alt=""></a>
            </div>
            <nav class="menu-block d-inline-block">
                <ul class="list-unstyled">
                    <li class="menu-block_list text-uppercase d-inline-block"><a href="#" class="active" data-target="" data-destination-id="home">HOME</a></li>
                    <li class="menu-block_list text-uppercase d-inline-block"><a href="#" data-destination-id="aboutUs">ABOUT US</a></li>
                    <li class="menu-block_list text-uppercase d-inline-block"><a href="#" data-destination-id="portfolio">PORTFOLIO</a></li>
                    <li class="menu-block_list text-uppercase d-inline-block active"><a href="#" data-destination-id="pricing">PRICING</a></li>
                    <li class="menu-block_list text-uppercase d-inline-block"><a href="#" data-destination-id="team">TEAM</a></li>
                    <li class="menu-block_list text-uppercase d-inline-block"><a href="#" data-destination-id="blog">BLOG</a></li>
                    <li class="menu-block_list text-uppercase d-inline-block"><a href="#" data-destination-id="contact">CONTACT</a></li>
                </ul>
            </nav>
            <div class="menu-mobile">
                <span></span>
            </div>
        </div>
	</header>
    <main class="main">
        <div class="position-relative">
            <div class="top-slider_block">
                <div class="top-slider_inner" style="background-image: url('images/temp/sider-bg-1.png')">
                    <div class="container main-container">
                        <div class="top-slider_inner-text text-center">
                            <h5>Our Clients Are Our First Priority</h5>
                            <h2 class="text-uppercase ">WELCOME TO BINO</h2>
                            <span class="circle"></span>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                            <div class="d-sm-flex justify-content-center">
                                <button type="button" class="btn text-uppercase get-started">Get Started Now</button>
                                <a href="#" class="btn text-uppercase learn-more d-flex align-items-center justify-content-center">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="top-slider_inner" style="background-image: url('images/temp/sider-bg-1.png')">
                    <div class="container main-container">
                        <div class="top-slider_inner-text text-center">
                            <h5>Our Clients Are Our First Priority</h5>
                            <h2 class="text-uppercase">WELCOME TO BINO</h2>
                            <span class="circle"></span>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                            <div class="d-sm-flex justify-content-center">
                                <button type="button" class="btn text-uppercase get-started">Get Started Now</button>
                                <a href="#" class="btn text-uppercase learn-more d-flex align-items-center justify-content-center">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="triangle">

            </div>
                <button class="btn scroll-down_button">
                    <span></span>
                </button>
        </div>
        <div class="container-fluid">
            <div class="container main-container services-block">
                <div class="row">
                    <div class="col col-sm-6 col-lg-3 services-block_inner text-center">
                        <a href="#" class="d-block service-link">
                            <div class="icon-block glasses-icon">
                                <div class="w-100 h-100"></div>
                            </div>
                            <h4 class="text-uppercase title service-title">SLEEK DESIGN</h4>
                            <p class="service-text">Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.</p>
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3 services-block_inner text-center">
                        <a href="#" class="d-block service-link">
                            <div class="icon-block heart-icon">
                                <div class="w-100 h-100"></div>
                            </div>
                            <h4 class="text-uppercase title service-title">CLEAN CODE</h4>
                            <p class="service-text">Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.</p>
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3 services-block_inner text-center">
                        <a href="#" class="d-block service-link">
                            <div class="icon-block ideas-icon">
                                <div class="w-100 h-100"></div>
                            </div>
                            <h4 class="text-uppercase title service-title">CREATIVE IDEAS</h4>
                            <p class="service-text">Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.</p>
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3 services-block_inner text-center">
                        <a href="#" class="d-block service-link">
                            <div class="icon-block support-icon">
                                <div class="w-100 h-100"></div>
                            </div>
                            <h4 class="text-uppercase title service-title">FREE SUPPORT</h4>
                            <p class="service-text">Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="history_bock-fluid" id="aboutUs">
            <div class="container-fluid">
                <div class="container main-container history_bock">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="history_bock-image">
                                <img src="images/temp/monitor.png" alt="monitor">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="history_bock-info">
                                <h3 class="text-uppercase title">OUR HISTORY</h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ip sum has been the industry's standard dummy text ever since the 1500s, when an unk- nown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                <a href="#" class="btn works-link base-button">BROWSE OUR WORK</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid services-bottom_block">
            <div class="row">
                <div class="col-12 col-md-7 col-lg-6 services-bottom-block  order-2 order-md-1">
                    <div class="services-bottom-block_info">
                        <div class="pr">
                            <h3 class="services-bottom-block_title">OUR SERVICES</h3>
                        </div>

                        <div class="services-bottom-slider">
                            <div class="services-bottom-slider_inner service-design">
                                <h5 class="text-uppercase title">WEB DESIGN</h5>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ip sum has been the industry's standard dummy text ever.</p>

                            </div>
                            <div class="services-bottom-slider_inner service-print">
                                <h5 class="text-uppercase title">PRINT DESIGN</h5>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ip sum has been the industry's standard dummy text ever.</p>

                            </div>
                            <div class="services-bottom-slider_inner service-photography">
                                <h5 class="text-uppercase title">PHOTOGRAPHY</h5>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ip sum has been the industry's standard dummy text ever.</p>>
                            </div>
                            <div class="services-bottom-slider_inner service-photography">
                                <h5 class="text-uppercase title">PHOTOGRAPHY</h5>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ip sum has been the industry's standard dummy text ever.</p>>
                            </div>
                            <div class="services-bottom-slider_inner service-photography">
                                <h5 class="text-uppercase title">PHOTOGRAPHY</h5>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ip sum has been the industry's standard dummy text ever.</p>>
                            </div>
                            <div class="services-bottom-slider_inner service-photography">
                                <h5 class="text-uppercase title">PHOTOGRAPHY</h5>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ip sum has been the industry's standard dummy text ever.</p>>
                            </div>
                            <div class="services-bottom-slider_inner service-photography">
                                <h5 class="text-uppercase title">PHOTOGRAPHY</h5>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ip sum has been the industry's standard dummy text ever.</p>>
                            </div>
                            <div class="services-bottom-slider_inner service-photography">
                                <h5 class="text-uppercase title">PHOTOGRAPHY</h5>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ip sum has been the industry's standard dummy text ever.</p>>
                            </div>
                            <div class="services-bottom-slider_inner service-photography">
                                <h5 class="text-uppercase title">PHOTOGRAPHY</h5>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ip sum has been the industry's standard dummy text ever.</p>>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-12 col-md-5 col-lg-6 services-bottom-block_image  order-1 order-md-2">
                    <div class="service_icon service-design">
                        <span></span>
                    </div>
                    <div class="service_icon service-print">
                        <span></span>
                    </div>
                    <div class="service_icon service-photography">
                        <span></span>
                    </div>

                </div>
            </div>
        </div>
        <div class="works-block container-fluid" id="portfolio">
            <h3 class="text-center works-block_title section-title">RECENT WORKS</h3>
            <p class="text-center works-block_text section-text">It has survived not only five centuries, but also the leap scrambled it to make a type.</p>
            <span class="circle"></span>
            <div class="portfolio-filter">
                <div class="portfolio-menu">
                    <ul>
                        <li class="active" data-filter="*">All</li>
                        <li data-filter=".print"> PRINT DESIGN</li>
                        <li data-filter=".animation">ANIMATION</li>
                        <li data-filter=".design">WEB DESIGN</li>
                        <li data-filter=".photography">PHOTOGRAPHY</li>
                        <li data-filter=".video">VIDEO</li>
                    </ul>
                </div>
                <div class="row portfolio-item ">
                    <div class="col col-sm-6 col-md-4 col-lg-3 item print" style="background-image: url('images/temp/profile-1.png');">
                        <a href="#" class="portfolio-item_info align-items-end">
                            <div class="portfolio-item_text">
                                <h4 class="text-uppercase">T-SHIRT DESIGN</h4>
                                <p>art / t-shirt</p>
                            </div>

                        </a>
                    </div>
                    <div class="col col-sm-6 col-md-4 col-lg-3 item print" style="background-image: url('images/temp/profile-2.png');">
                        <a href="#" class="portfolio-item_info align-items-end">
                            <div class="portfolio-item_text">
                                <h4 class="text-uppercase">T-SHIRT DESIGN</h4>
                                <p>art / t-shirt</p>
                            </div>

                        </a>
                    </div>
                    <div class="col col-sm-6 col-md-4 col-lg-3 item animation" style="background-image: url('images/temp/profile-3.png');">
                        <a href="#" class="portfolio-item_info align-items-end">
                            <div class="portfolio-item_text">
                                <h4 class="text-uppercase">T-SHIRT DESIGN</h4>
                                <p>art / t-shirt</p>
                            </div>

                        </a>
                    </div>
                    <div class="col col-sm-6 col-md-4 col-lg-3 item design" style="background-image: url('images/temp/profile-4.png');">
                        <a href="#" class="portfolio-item_info align-items-end">
                            <div class="portfolio-item_text">
                                <h4 class="text-uppercase">T-SHIRT DESIGN</h4>
                                <p>art / t-shirt</p>
                            </div>

                        </a>
                    </div>
                    <div class="col col-sm-6 col-md-4 col-lg-3 item design" style="background-image: url('images/temp/profile-5.png');">
                        <a href="#" class="portfolio-item_info align-items-end">
                            <div class="portfolio-item_text">
                                <h4 class="text-uppercase">T-SHIRT DESIGN</h4>
                                <p>art / t-shirt</p>
                            </div>

                        </a>
                    </div>
                    <div class="col col-sm-6 col-md-4 col-lg-3 item photography" style="background-image: url('images/temp/profile-6.png');">
                        <a href="#" class="portfolio-item_info align-items-end">
                            <div class="portfolio-item_text">
                                <h4 class="text-uppercase">T-SHIRT DESIGN</h4>
                                <p>art / t-shirt</p>
                            </div>

                        </a>
                    </div>
                    <div class="col col-sm-6 col-md-4 col-lg-3 item video"  style="background-image: url('images/temp/profile-7.png');">
                        <a href="#" class="portfolio-item_info align-items-end">
                            <div class="portfolio-item_text">
                                <h4 class="text-uppercase">T-SHIRT DESIGN</h4>
                                <p>art / t-shirt</p>
                            </div>

                        </a>
                    </div>
                    <div class="col col-sm-6 col-md-4 col-lg-3 item video"  style="background-image: url('images/temp/profile-8.png');">
                        <a href="#" class="portfolio-item_info align-items-end">
                            <div class="portfolio-item_text">
                                <h4 class="text-uppercase">T-SHIRT DESIGN</h4>
                                <p>art / t-shirt</p>
                            </div>

                        </a>
                    </div>
                </div>
            </div>

            </div>
        <div class="study-block">
            <div class="container main-container">
                <h3 class="text-center works-block_title section-title">CASE STUDY</h3>
                <p class="text-center works-block_text section-text">A brief story about how this process works, keep an eye till the end.</p>
                <span class="circle"></span>
                <div class="study-block_inner">
                    <div class="study-block_slider">
                        <div class="study-block_slider-item">
                            <div class="text-center">
                                <div class="icon_block">
                                    <div class="icon"></div>
                                </div>
                                <h4 class="text-uppercase study-block_slider-title">ACCUMULATE CREATIVE IDEAS</h4>
                                <p class="study-block_slider-text">Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry. Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry Printing and typelorem Ipsum has been the setting let.</p>
                                <a href="#" class="btn text-uppercase more-button base-button">read more</a>
                            </div>
                        </div>
                        <div class="study-block_slider-item">
                            <div class="text-center">
                                <div class="icon_block">
                                    <div class="icon"></div>
                                </div>
                                <h4 class="text-uppercase study-block_slider-title">ACCUMULATE CREATIVE IDEAS</h4>
                                <p class="study-block_slider-text">Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry. Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry Printing and typelorem Ipsum has been the setting let.</p>
                                <a href="#" class="btn text-uppercase more-button base-button">read more</a>
                            </div>
                        </div>
                        <div class="study-block_slider-item">
                            <div class="text-center">
                                <div class="icon_block">
                                    <div class="icon"></div>
                                </div>
                                <h4 class="text-uppercase study-block_slider-title">ACCUMULATE CREATIVE IDEAS</h4>
                                <p class="study-block_slider-text">Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry. Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry Printing and typelorem Ipsum has been the setting let.</p>
                                <a href="#" class="btn text-uppercase more-button base-button">read more</a>
                            </div>
                        </div>

                    </div>
                    <div class="study-block_image d-none d-md-block">

                    </div>
                </div>
            </div>
        </div>
        <div class="check-out-block">
            <div class="container main-container">
                <div class="check-out-block_inner d-inline-block text-center">
                    <div class="check-out_icon user"></div>
                    <span class="check-out_count">3891</span>
                    <h6 class="check-out_name">User Favourites</h6>
                </div>
                <div class="check-out-block_inner d-inline-block text-center">
                    <div class="check-out_icon last-posts"></div>
                    <span class="check-out_count">3891</span>
                    <h6 class="check-out_name">Posts Last 24 Hours</h6>
                </div>
                <div class="check-out-block_inner d-inline-block text-center">
                    <div class="check-out_icon total-post"></div>
                    <span class="check-out_count">3891</span>
                    <h6 class="check-out_name">Total Posts</h6>
                </div>
                <div class="check-out-block_inner d-inline-block text-center">
                    <div class="check-out_icon campaigns"></div>
                    <span class="check-out_count">3891</span>
                    <h6 class="check-out_name">Campaigns</h6>
                </div>
                <div class="check-out-block_inner d-inline-block text-center">
                    <div class="check-out_icon amazing"></div>
                    <span class="check-out_count">3891</span>
                    <h6 class="check-out_name">Amazing Features</h6>
                </div>
            </div>
        </div>
        <div class="container-fluid pricing-block" id="pricing">
            <div class="container main-container">
                <h3 class="text-center works-block_title section-title">OUR PRICING</h3>
                <p class="text-center works-block_text section-text">A brief story about how this process works, keep an eye till the end.</p>
                <span class="circle"></span>
                <div class="row">
                    <div class="col-md-4 align-items-stretch  mb-4 mb-md-0">
                        <div class="pricing-block_inner position-relative h-100">
                            <div class="pricing-block_inner-top position-relative">
                                <h5 class="text-uppercase text-center">STARTER</h5>
                                <div class="service_icon">
                                <span class="d-flex justify-content-center align-items-center">
                                    <div>
                                       <p class="price text-center">$<span>19</span></p>
                                        <p>per month</p>
                                    </div>

                                </span>
                                </div>
                            </div>
                            <div class="pricing-block_inner-bottom text-center">
                                <ul class="list-unstyled">
                                    <li>Competition Analysis Methods</li>
                                    <li>All Ranked URLs</li>
                                    <li>International Support System</li>
                                    <li>Social Media Tracking</li>
                                </ul>
                            </div>
                            <button type="button" class="btn text-uppercase choose-button">CHOOSE PLAN</button>
                        </div>

                    </div>
                    <div class="col-md-4 mb-4 mb-md-0">
                        <div class="pricing-block_inner position-relative h-100">
                            <div class="pricing-block_inner-top position-relative">
                                <h5 class="text-uppercase text-center">STARTER</h5>
                                <div class="service_icon">
                                <span class="d-flex justify-content-center align-items-center">
                                    <div>
                                       <p class="price text-center">$<span>19</span></p>
                                        <p>per month</p>
                                    </div>

                                </span>
                                </div>
                            </div>
                            <div class="pricing-block_inner-bottom text-center">
                                <ul class="list-unstyled">
                                    <li>Competition Analysis Methods</li>
                                    <li>All Ranked URLs</li>
                                    <li>International Support System</li>
                                    <li>Social Media Tracking</li>
                                </ul>
                            </div>
                            <button type="button" class="btn text-uppercase choose-button">CHOOSE PLAN</button>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="pricing-block_inner position-relative h-100">
                            <div class="pricing-block_inner-top position-relative">
                                <h5 class="text-uppercase text-center">STARTER</h5>
                                <div class="service_icon">
                                <span class="d-flex justify-content-center align-items-center">
                                    <div>
                                       <p class="price text-center">$<span>19</span></p>
                                        <p>per month</p>
                                    </div>

                                </span>
                                </div>
                            </div>
                            <div class="pricing-block_inner-bottom text-center">
                                <ul class="list-unstyled">
                                    <li>Competition Analysis Methods</li>
                                    <li>All Ranked URLs</li>
                                    <li>International Support System</li>
                                    <li>Social Media Tracking</li>
                                </ul>
                            </div>
                            <button type="button" class="btn text-uppercase choose-button">CHOOSE PLAN</button>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="team-block" id="team">
            <div class="team-block_image">
                <div class="container main-container">
                    <div class="team-block_title">
                        <h3 class="text-center works-block_title section-title">OUR TEAM</h3>
                        <p class="text-center works-block_text section-text">Meet the craziest team. Share your thoughts with them.</p>
                        <span class="circle"></span>
                    </div>

                    <div class="teammate-block teammate-1">
                        <div class="teammate-block_image m-auto"></div>
                        <div class="teammate-block_info text-center">
                            <div class="line"></div>
                            <h5 class="teammate-title">Kazi Erfan</h5>
                            <h6 class="teammate-profession">UI/UX Designer</h6>
                        </div>
                    </div>
                    <div class="teammate-block teammate-2">
                        <div class="teammate-block_image m-auto"></div>
                        <div class="teammate-block_info text-center">
                            <div class="line"></div>
                            <h5 class="teammate-title">Kazi Erfan</h5>
                            <h6 class="teammate-profession">UI/UX Designer</h6>
                        </div>
                    </div>
                    <div class="teammate-block teammate-3">
                        <div class="teammate-block_image m-auto"></div>
                        <div class="teammate-block_info text-center">
                            <div class="line"></div>
                            <h5 class="teammate-title">Kazi Erfan</h5>
                            <h6 class="teammate-profession">UI/UX Designer</h6>
                        </div>
                    </div>
                    <div class="teammate-block teammate-4">
                        <div class="teammate-block_image m-auto"></div>
                        <div class="teammate-block_info text-center">
                            <div class="line"></div>
                            <h5 class="teammate-title">Kazi Erfan</h5>
                            <h6 class="teammate-profession">UI/UX Designer</h6>
                        </div>
                    </div>
                    <div class="teammate-block teammate-5">
                        <div class="teammate-block_image m-auto"></div>
                        <div class="teammate-block_info text-center">
                            <div class="line"></div>
                            <h5 class="teammate-title">Kazi Erfan</h5>
                            <h6 class="teammate-profession">UI/UX Designer</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="integration-block p-tb">
            <div class="container main-container">
                <div class="team-block_title">
                    <h3 class="text-center works-block_title section-title dark">Great Integrations with Others</h3>
                    <p class="text-center works-block_text section-text dark">Meet the craziest team. Share your thoughts with them.</p>
                    <span class="circle"></span>
                </div>
                <div class="integration-logo">
                    <div class="integration-logo_link"><a href="#" target="_blank" style="background-image: url('images/temp/osha.png')"></a></div>
                    <div class="integration-logo_link"><a href="#" target="_blank" style="background-image: url('images/temp/nvc.png')"></a></div>
                    <div class="integration-logo_link"><a href="#" target="_blank" style="background-image: url('images/temp/nys.png')"></a></div>
                    <div class="integration-logo_link"><a href="#" target="_blank" style="background-image: url('images/temp/bbb.png')"></a></div>
                    <div class="integration-logo_link"><a href="#" target="_blank" style="background-image: url('images/temp/epa.png')"></a></div>
                    <div class="integration-logo_link"><a href="#" target="_blank" style="background-image: url('images/temp/dummy.png')"></a></div>
                    <div class="integration-logo_link"><a href="#" target="_blank" style="background-image: url('images/temp/type.png')"></a></div>
                    <div class="integration-logo_link"><a href="#" target="_blank" style="background-image: url('images/temp/imaginarium.png')"></a></div>
                    <div class="integration-logo_link"><a href="#" target="_blank" style="background-image: url('images/temp/random.png')"></a></div>
                    <div class="integration-logo_link"><a href="#" target="_blank" style="background-image: url('images/temp/another.png')"></a></div>
                </div>
            </div>

        </div>
        <div class="container-fluid blog-block p-tb pb-0" id="blog">
                <div class="blog-block_title">
                    <h3 class="text-center works-block_title section-title dark">OUR BLOG</h3>
                    <p class="text-center works-block_text section-text dark">Meet the craziest team. Share your thoughts with them.</p>
                    <span class="circle"></span>
                </div>
                <div class="row">
                    <div class="col-lg-6 blog-block_item align-items-stretch">
                        <div class="row h-100">
                            <div class="col-sm-6 blog-block_item-image" style="background-image: url('images/temp/cofee.png');">

                            </div>
                            <div class="col-sm-6 blog-block_item-text">
                                <p class="art">art / t-shirt</p>
                                <h6 class="text-uppercase">T-SHIRT DESIGN</h6>
                                <p class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indu Stry's standard dummy text ever since the 1500s, an unknown printer took a galley of type a scrambled it to make a type specimen book.</p>
                                <a href="#" class="read-more">Read More <i class="fa fa-angle-double-right"></i></a>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-6 blog-block_item">
                        <div class="row h-100">
                            <div class="col-sm-6 blog-block_item-image" style="background-image: url('images/temp/hour.png');">

                            </div>
                            <div class="col-sm-6 blog-block_item-text">
                                <p class="art">art / t-shirt</p>
                                <h6 class="text-uppercase">T-SHIRT DESIGN</h6>
                                <p class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indu Stry's standard dummy text ever since the 1500s, an unknown printer took a galley of type a scrambled it to make a type specimen book.</p>
                                <a href="#" class="read-more">Read More <i class="fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="row">
                <div class="col-lg-6 blog-block_item">
                    <div class="row h-100">
                        <div class="col-sm-6 blog-block_item-image" style="background-image: url('images/temp/way.png');">

                        </div>
                        <div class="col-sm-6 blog-block_item-text">
                            <p class="art">art / t-shirt</p>
                            <h6 class="text-uppercase">T-SHIRT DESIGN</h6>
                            <p class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indu Stry's standard dummy text ever since the 1500s, an unknown printer took a galley of type a scrambled it to make a type specimen book.</p>
                            <a href="#" class="read-more">Read More <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 blog-block_item">
                    <div class="row h-100">
                        <div class="col-sm-6 blog-block_item-image" style="background-image: url('images/temp/car.png');">

                        </div>
                        <div class="col-sm-6 blog-block_item-text">
                            <p class="art">art / t-shirt</p>
                            <h6 class="text-uppercase">T-SHIRT DESIGN</h6>
                            <p class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indu Stry's standard dummy text ever since the 1500s, an unknown printer took a galley of type a scrambled it to make a type specimen book.</p>
                            <a href="#" class="read-more">Read More <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid contact-block p-tb" id="contact">
                <h3 class="text-center works-block_title section-title dark">Great Integrations with Others</h3>
                <p class="text-center works-block_text section-text dark">Meet the craziest team. Share your thoughts with them.</p>
                <span class="circle"></span>
            <div class="container main-container">
                <div class="row">
                    <div class="col-md-5 align-items-stretch mb-4 mb-md-0">
                        <div class="contact-block_left h-100">
                            <div>
                                <h6>OUR ADDRESS</h6>
                                <p>House #13, Streat road, Sydney 2310 Australia</p>
                            </div>
                            <div>
                                <h6>CALL US</h6>
                                <a href="tel:+8801681091425" class="d-block">+ 880 168 109 1425</a>
                                <a href="tel:+0216809142" class="d-block">+ 0216809142</a>

                            </div>
                            <div>
                                <h6>EMAIL US</h6>
                                <a href="mailto:contactus@email.com">contactus@email.com</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="contact-block_right h-100">
                            <form action="" id="contact-form" class="contact-form">
                                <div class="form-group material-style">
                                    <input type="text" class="form-control" required="required" id="name" name="name" placeholder=" ">
                                    <label>Name</label>
                                </div>
                                <div class="form-group material-style">
                                    <input type="text" class="form-control" required="required" id="email" name="email" placeholder=" ">
                                    <label>Email</label>
                                </div>
                                <div class="form-group material-style">
                                    <input type="text" class="form-control" required="required" id="subject" name="subject" placeholder=" ">
                                    <label>Subject</label>
                                </div>
                                <div class="form-group material-style">
                                    <textarea class="form-control" required="required" id="message" name="message" placeholder=" "></textarea>
                                    <label>Message</label>
                                </div>
                                <button id="send-message" class="btn text-uppercase base-button">SEND MESSAGE</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="free-trial-block">
            <div class="cover p-tb">
                <div class="container main-container text-center">
                    <h4>Let's Get Started Now. It's FREE!</h4>
                    <p>30 day free trial. Free plan allows up to 2 projects. Pay if you need more. Cancel anytime. No catches.</p>
                    <button class="btn text-uppercase base-button">start free trial</button>
                </div>
            </div>

        </div>
        <a id="scroll-top" class="scroll-top"><i class="fa fa-angle-up"></i></a>
    </main>
    <footer class="footer">
        <div class="container main-container">
            <div class="d-sm-flex justify-content-sm-between align-items-sm-center">
                <div class="social-block">
                    <ul class="list-unstyled d-flex">
                        <li><a href="#" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-wifi"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-skype"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-vimeo"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-tumblr"></i></a></li>
                    </ul>
                </div>
                <p class="copyright-block">Kazi Erfan &#169; All Rights Reserved </p>
            </div>
        </div>
    </footer>
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/slick-ligthbox.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js"></script>
    <script src="js/main.js"></script>

</body>
</html>
