@mixin css3-prefix($property, $value) {
	-webkit-#{$property}: $value;
	-moz-#{$property}: $value;
	-ms-#{$property}: $value;
	-o-#{$property}: $value;
	#{$property}: $value;
}
@mixin transition($transition...){
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition-mixin($style: all, $duration: .4s, $type: ease, $delay : 0s) {
  @include css3-prefix('transition', $style $duration $type $delay);
}

@mixin transform-rotate($deg:-90deg) {
  @include css3-prefix('transform', rotate($deg));
}
@mixin transform-translateY($axis: 10px) {
	@include css3-prefix('transform', translateY($axis));
}
@mixin transform-translateX($axis: 10px) {
	@include css3-prefix('transform', translateX($axis));
}
@mixin transform-scale($deg:1) {
  @include css3-prefix('scale', scale($deg));
}

@mixin transform-scaleX($deg:1) {
  @include css3-prefix('scaleX', scale($deg));
}

@mixin transform-scaleY($deg:1) {
  @include css3-prefix('scaleY', scale($deg));
}

@mixin position_absolute($pos,$top,$right,$bottom,$left){
  position: $pos;
  top:$top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin font-source($size: false, $colour: false, $weight: false,  $lh: false, $lsp:false) {
  @if $size { font-size: $size; }
  @if $colour { color: $colour; }
  @if $weight { font-weight: $weight; }
  @if $lh { line-height: $lh; }
  @if $lsp { letter-spacing: $lsp; }
}
@mixin input-placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}
@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}
@mixin transform-origin ($origin) {
  moz-transform-origin: $origin;
  -o-transform-origin: $origin;
  -ms-transform-origin: $origin;
  -webkit-transform-origin: $origin;
  transform-origin: $origin;
}
@mixin scale($scale) {
  @include transform(scale($scale));
}
@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
  -webkit-box-shadow:$top $left $blur $color #{$inset};
  -moz-box-shadow:$top $left $blur $color #{$inset};
  box-shadow:$top $left $blur $color #{$inset};
}
@mixin animation($animate...) {
  $max: length($animate);
  $animations: '';
  @for $i from 1 through $max {
    $animations: #{$animations + nth($animate, $i)};

    @if $i < $max {
      $animations: #{$animations + ", "};
    }
  }
  -webkit-animation: $animations;
  -moz-animation:    $animations;
  -o-animation:      $animations;
  animation:         $animations;
}
@mixin animation-delay($delay...){
  -o-animation-delay: $delay;
  -moz-animation-delay: $delay;
  -webkit-animation-delay: $delay;
  animation-delay: $delay;
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@mixin centerer {
  position: absolute;
  left: 50%;
  @include transform(translate(-50%, 0));
}
@mixin vertical-centerer {
  position: absolute;
  left: 50%;
  top: 50%;
  @include transform(translate(-50%, -50%));
}

